.block {

}

.from {
  font-size: 110%;
}

.from-val {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
}

:link {
  color: blue;
}
